[package]
name = "zenwave"
version = "0.1.0"
edition = "2024"
authors = ["Lexo Liu<me@lexo.cool>"]
repository = "https://github.com/zen-rs/zenwave"
description = "Ergonomic HTTP client framework."
license = "MIT"
keywords = ["http", "client", "async", "networking", "middleware"]
categories = ["network-programming", "web-programming::http-client"]

[dependencies]
http-kit = { version = "0.2.0", path = "../http-kit"}
executor-core = { version = "0.6.0" }
serde = { version = "1.0", default-features = false, features = ["derive"]}
serde_json = "1.0"
base64 = "0.22"

# Dependencies for hyper backend

hyper-util = { version = "0.1", features = [
    "http1",
    "http2",
    "client",
    "client-legacy",
    "tokio",
], optional = true}

hyper = { version = "1.8", features = ["client", "http1", "http2"], optional = true}
http-body-util = { version = "0.1.3", optional = true}
anyhow = "1.0.100"
js-sys = "0.3.82"
http = "1.3.1"
hyper-tls = "0.6.0"


[dev-dependencies]
tokio = { version = "1.48", features = ["macros", "rt"] }
serde_json = "1.0"

[features]
default = ["hyper-backend", "web-backend"]
hyper-backend = ["dep:hyper","dep:hyper-util","dep:http-body-util"]
web-backend = []

[target.'cfg(target_arch = "wasm32")'.dependencies]
web-sys = { version = "0.3", features = ["Window", "Request","RequestInit","Headers","ReadableStream","Response"] }
wasm-streams = "0.4.2"
wasm-bindgen-futures = "0.4.55"


[lints]
rust.missing_docs = "warn"
rust.missing_debug_implementations = "warn"
clippy.all = "warn"
clippy.style = "warn"
clippy.correctness = "warn"
clippy.complexity = "warn"
clippy.suspicious = "warn"
clippy.perf = "warn"
clippy.pedantic = "warn"
clippy.nursery = "warn"
clippy.cargo = "warn"
