[package]
name = "zenwave"
version = "0.1.0"
edition = "2024"
authors = ["Lexo Liu<me@lexo.cool>"]
description = "Ergonomic HTTP client framework."
license = "MIT"

[dependencies]
http-kit = { version = "0.1.2", features = ["http_body"]}
executor-core = { version = "0.1.0" }
serde = { version = "1.0", default-features = false}
base64 = "0.22"

# Dependencies for hyper backend

hyper-util = { version = "0.1", features = [
    "http1",
    "http2",
    "client",
    "client-legacy",
    "tokio",
], optional = true}

hyper = { version = "1.6", features = ["client", "http1", "http2"], optional = true}
http-body-util = { version = "0.1.3", optional = true}
web-sys = { version = "0.3", features = ["Window", "Request","RequestInit","Headers","ReadableStream","Response"] }
wasm-streams = "0.4.2"
wasm-bindgen-futures = "0.4.50"
anyhow = "1.0.98"
js-sys = "0.3.77"
http = "1.3.1"
hyper-tls = "0.6.0"


[dev-dependencies]
tokio = { version = "1.45", features = ["macros", "rt"] }
serde_json = "1.0"

[features]
default = ["hyper-backend", "web-backend"]
hyper-backend = ["dep:hyper","dep:hyper-util","dep:http-body-util"]
web-backend = []

[target.'cfg(target_arch = "wasm32")'.dependencies]
# web-sys = { version = "0.3", features = ["Window", "Document"], optional = true }
